.App {
  font-family: sans-serif;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .App {
    background-color: red;
  }
}

.input_location {
  padding: 6px;
}

.input_location input {
  display: block;
  margin: 0 auto;

  width: 50vw;
  padding: 6px;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }